*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --transition-speed: 0.5s;
  --btn-bg-color: transparent;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: var(--transition-speed) ease;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.img-container {
  background-color: var(--primary-color);
  position: relative;
  width: 70vw;
  height: 85vh;
  overflow: hidden;
}

.img {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  top: -15vh;
  left: -15vw;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.img.active {
  opacity: 1;
}

.arrow-btn {
  position: fixed;
  bottom: 10vh;
}

.left-arrow {
  left: calc(50vw - 50px);
}

.right-arrow {
  right: calc(50vw - 50px);
}

.animateTransitionRight {
  animation: swingRight 0.2s ease;
}

@keyframes swingRight {
  0%{
    transform: translateX(5px);
    filter: blur(4px);
  }
  80%{
    transform: translateX(-20px);
    filter: blur(2px);
  }
  100%{
    transform: translateX(0px);
    filter: blur(0px);
  }
}

.animateTransitionLeft {
  animation: swingLeft 0.2s ease;
}

@keyframes swingLeft {
  0%{
    transform: translateX(-5px);
    filter: blur(4px);
  }
  80%{
    transform: translateX(20px);
    filter: blur(2px);
  }
  100%{
    transform: translateX(0px);
    filter: blur(0px);
  }
}
