* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

main {
  width: 750px;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

img {
  border-radius: 5px;
  height: 400px;
  margin-bottom: 2rem;
  max-width: 800px;
}

.tabs-container {
  max-width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.content {
  display: none;
}

.btn.active {
  background-color: #9ed3c7;
  color: #222;
}

.btn:focus {
  background-color: #9ed3c7 !important;
  color: #222;
}

.btn:hover {
  background-color: #b5f1e3 !important;
  color: rgb(126, 126, 126);
}

.content.active {
  display: block;
}

h4 {
  font-weight: 600;
  position: relative;
  animation: slideText 0.5s ease-out;
}

@keyframes slideText {
  0% {
    opacity: 0;
    left: 200px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}
