* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1665686377065-08ba896d16fd?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center/cover;
}

.container {
  position: absolute;
  z-index: 3;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30vh;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid rgba(219, 219, 219, 0.6);
  width: 400px;
  height: 250px;
  background-color: rgba(167, 167, 167, 0.6);
  border-radius: 10px;
  font: normal 400 20px/1.5 'Montserrat', sans-serif;
  font-size: 30px;
}

.btn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: white;
  font-size: 28px;
  width: 250px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all .5s;
}

.btn:after,
.btn:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 0px solid #fff;
  transition: all .5s;
}

.btn:after {
  top: 3px;
  left: 3px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.btn:before {
  bottom: 3px;
  right: 3px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.btn:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn:hover:before,
.btn:hover:after {
  width: 100%;
  height: 100%;
}
