* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Bebas Neue', cursive;
  height: 100vh;
  background: url(https://plus.unsplash.com/premium_photo-1683309568772-57011d6c1b7b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center/cover;
}

.container {
  position: relative;
  top: 30vh;
  max-width: 300px;
  margin: auto;
}

#enter {
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  color: #04a1bf;
  transition: all .5s ease;
}

#enter:hover {
  background: #04a1bf;
  color: white;
}

ul {
  margin-top: 20px;
}

a, li {
  margin: 5px 0;
  padding: 10px 20px;
  color: #363636;
  background: #f0f0e8EE;
  text-transform: caitalize;
  font-weight: 500;
  border: 2px solid #04a1bf;
  border-radius: 3px;
  transition: all .5s ease;
  letter-spacing: 2px;
}

li:hover {
  background: #264247;
  color: #fff;
}

li:hover > button {
  color: #fff;
}

li > button {
  font-weight: 900;
  background: none;
  border: none;
  float: right;
  color: #363636;
}

li > button:hover {
  color: #ff2c2cb6;
}

input {
  max-width: 70%;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.done {
  background: #666666EE;
  color: rgb(0, 0, 0);
  text-decoration: line-through;
}

.delete {
  transform: scale(0);
}
