@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  text-decoration: none;
  list-style: none;
}

:root {
  --red: #b50025;
}

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(90deg, #000, #6d6d6d, #000);
  color: #ddd;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #333;
}

img {
  height: 148px;
  width: 148px;
  position: relative;
  margin: auto;
}

.contenders-container {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  width: 600px;
  margin: 20vh auto 0;
  justify-content: center;
  align-items: center;
}

.units-system {
  position: relative;
  width: 300px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  width: 70px;
  margin: auto;
  background-color: var(--red);
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.contender-one, .contender-two {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  text-align: center;
}

.contenders {
  text-align: center;
}

.contenders ul {
  margin-top: 2rem;
  text-transform: uppercase;
}

.contenders ul li {
  background-color: var(--red);
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.contender-one ul li {
  text-align: right;
}

.contender-two ul li {
  text-align: left;
}

ul li {
  margin: 1rem 0;
  padding: .3rem 0;
}

input {
  scale: 1.2;
max-width: 50px;
background-color: transparent;
text-align: center;
color: #ddd;
}

input::-webkit-outer-spine-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.output {
  margin: 0.1rem;
}

.contender-one img {
  animation: slideFromLeft 1s ease-out;
}

.contender-two img {
  animation: slideFromRight 1s ease-out;
}

@keyframes slideFromLeft {
  from {
    left: -500px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    right: -500px;
    opacity: 0;
  } to {
    right: 0;
    opacity: 1;
  }
}

h1 {
  animation: vsTransition 1s ease-out;
}

@keyframes vsTransition {
  from {
    transform: scale(0);
    opacity: 0;
  } to {
    transform: scale(1);
    opacity: 1;
  }
}

.contenders li {
  animation: rotation 1s ease-out;
}

@keyframes rotation {
  from {
    opacity: 0;
    transform: rotateX(0deg);
  } to {
    opacity: 1;
    transform: rotateX(360deg);
  }
}

input {
  animation: vsTransition 1s ease-out;
}

.blank {
  font-size: 1rem;
  border: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
.confirm-btn  {
  color: #ddd;
  scale: 1.2;
  background-color: var(--red);
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 2px;
}

.confirm-btn:hover {
  background-color: #c70303;
  transform: scale(1.1);
}

.reload-btn {
  color: #ddd;
  background-color: #6d5656;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 2px;
}

.reload-btn:hover {
  background-color: var(--red);
}
